html {
  font-family: 'Helvetica Neue LT Std';
  font-size: 1.30vw;
  -webkit-font-smoothing: antialiased;
  overflow-y: scroll;
  overflow-x: hidden;
  scroll-behavior: smooth;
  height: 100%;
}

@media (max-width: 1400px) {
  html {
    font-size: 18px;
  }
}

body {
  background: #1a1a1a;
  font-size: 100%;
  line-height: 1;
  color: white;
  height: 100%;
  font-family: inherit;
}

#hero {
  height: 100%;
  background: #111111;
  background: url("img/ciutat-robada-cover.jpg") no-repeat bottom/cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 9%;
}

#hero .header {
  width: 50%;
}

#hero .header .title {
  font-weight: bold;
  font-size: 4em;
}

#hero .header .subtitle {
  font-size: 1em;
  line-height: 1.618em;
  margin: 5% 0;
  color: white;
}

.menu-container-top {
  position: fixed;
  width: 100vw;
  height: 10vh;
  top: -10vh;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #111111;
  z-index: 500;
  -webkit-transition: top 1s cubic-bezier(0.22, 0.68, 0, 1);
  transition: top 1s cubic-bezier(0.22, 0.68, 0, 1);
}

.menu-container-top ul.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 0;
  padding: 0;
}

.menu-container-top ul.menu li {
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: .7em;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  display: inline-block;
  color: #d5d5d5;
  margin: 0;
  padding: 0;
}

.menu-container-top ul.menu li:last-child {
  margin-bottom: 0;
}

.menu-container-top ul.menu li a {
  text-decoration: none;
  color: #5d5d5d;
  -webkit-transition: color 2s cubic-bezier(0.22, 0.68, 0, 1);
  transition: color 2s cubic-bezier(0.22, 0.68, 0, 1);
}

.menu-container-top ul.menu li a:hover {
  color: white;
}

.menu-container-top ul.menu li.active a {
  color: white;
}

.menu-container-hero {
  position: relative;
  width: 20%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  z-index: 399;
}

.menu-container-hero ul.menu li {
  text-align: right;
  margin-bottom: 30px;
  font-weight: bold;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.menu-container-hero ul.menu li:last-child {
  margin-bottom: 0;
}

.menu-container-hero ul.menu li a {
  text-decoration: none;
  color: #5D5D5D;
  -webkit-transition: color 2s cubic-bezier(0.22, 0.68, 0, 1);
  transition: color 2s cubic-bezier(0.22, 0.68, 0, 1);
}

.menu-container-hero ul.menu li a:hover {
  color: white;
}

.menu-container-hero ul.menu li .active {
  color: white;
}

#inici {
  padding: 70px 0 200px 0;
}

#inici .quote {
  padding: 0 26%;
}

#inici .quote .quote-inner {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 0 0 26px;
}

#inici .quote .quote-inner .vertical-line {
  height: 100%;
  width: 7px;
  background: #292929;
  margin-right: 20px;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 1px;
}

#inici .quote .quote-inner .definicio {
  font-style: italic;
  font-size: 1em;
  line-height: 1.618em;
  margin-bottom: 0;
}

#inici .intro-stats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 50px;
  margin: 70px 16%;
}

#inici .intro-stats .stats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#inici .intro-stats .stats h1 {
  font-size: 4em;
  font-weight: bold;
  margin: 0;
  line-height: 1.2em;
  color: #acffb2;
}

#inici .intro-stats .stats p {
  font-size: .8em;
  margin-top: 0;
  color: #5d5d5d;
}

#testimoni {
  padding: 80px 9%;
  margin-top: -100px;
  -webkit-clip-path: polygon(0% 0%, 100% 50px, 100% 100%, 0% calc(100% - 50px));
          clip-path: polygon(0% 0%, 100% 50px, 100% 100%, 0% calc(100% - 50px));
}

#testimoni .quote {
  font-size: 2em;
  font-weight: 100;
  line-height: 1.5em;
  margin-bottom: 40px;
}

#testimoni .explain .video {
  width: 50%;
  float: right;
  margin: 0 0 50px 50px;
  z-index: 400;
}

#testimoni .explain .transcript {
  font-size: 1em;
  line-height: 1.9em;
}

#introduccio {
  padding: 100px 0 100px 0;
}

#introduccio .img-container {
  float: right;
  width: 60%;
  padding: 0 0 0 50px;
  margin-right: calc(-55% + 9%);
}

#introduccio .img-container img {
  width: 100%;
}

#introduccio .img-container p.caption {
  width: 100%;
  text-align: right;
  font-size: .7em;
  color: #5d5d5d;
  margin: 10px 0;
}

#xifres {
  padding: 100px 0 0 0;
}

#xifres #map {
  padding: 0 9%;
  margin: 50px 0;
}

#xifres #map .help {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 401;
}

#xifres #map .help .icon {
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
}

#xifres #map .help .icon i {
  color: #5d5d5d;
  -webkit-transition: color 1s cubic-bezier(0.22, 0.68, 0, 1);
  transition: color 1s cubic-bezier(0.22, 0.68, 0, 1);
  font-size: 1.2em;
}

#xifres #map .help .icon i:hover {
  color: #acffb2;
}

#xifres #map .help .popup-wrapper {
  position: absolute;
  height: 100vh;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: none;
}

#xifres #map .help .popup {
  width: 70%;
  position: relative;
  background: #111111;
  border: 2px solid #292929;
  padding: 30px 30px;
}

#xifres #map .help .popup i {
  color: #5D5D5D;
  -webkit-transition: color 1s cubic-bezier(0.22, 0.68, 0, 1);
  transition: color 1s cubic-bezier(0.22, 0.68, 0, 1);
  font-size: 1.2em;
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
}

#xifres #map .help .popup i:hover {
  color: #acffb2;
}

#xifres #map .help .popup .ajuda-titol {
  color: #5d5d5d;
  font-weight: bold;
  font-size: 1.2em;
  margin-bottom: 10px;
}

#xifres #map .help .popup .content {
  color: #FFF;
  font-size: .8em;
  line-height: 1.7em;
}

#xifres #map .controls-container {
  height: 15vh;
  background: #1a1a1a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 3%;
}

#xifres #map .controls-container .buttons label {
  white-space: nowrap;
  padding: 12px 20px;
  border-color: #acffb2;
  color: #acffb2;
}

#xifres #map .controls-container .buttons label:hover {
  background-color: #acffb2;
  color: #666;
}

#xifres #map .controls-container .buttons .active {
  background-color: #acffb2;
  color: #666;
}

#xifres #map .controls-container .buttons input {
  outline: none;
}

#xifres #map .controls-container .controls {
  margin-left: 70px;
  display: none;
}

#xifres #map .controls-container .controls .control-group {
  cursor: pointer;
  margin-top: 10px;
  margin-right: 50px;
}

#xifres #map .controls-container .controls .control-group .form-radio {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: inline-block;
  position: relative;
  background-color: #f1f1f1;
  color: #666;
  top: -2px;
  height: 30px;
  width: 30px;
  border: 0;
  border-radius: 50px;
  cursor: pointer;
  margin-right: 15px;
  outline: none;
  -webkit-transition: background-color 1s cubic-bezier(0.22, 0.68, 0, 1);
  transition: background-color 1s cubic-bezier(0.22, 0.68, 0, 1);
}

#xifres #map .controls-container .controls .control-group .form-radio:checked::before {
  position: absolute;
  font: 15px/1 'Open Sans', sans-serif;
  left: 11px;
  top: 6px;
  content: '\02143';
  -webkit-transform: rotate(40deg);
          transform: rotate(40deg);
}

#xifres #map .controls-container .controls .control-group .form-radio:hover {
  background-color: #969696;
}

#xifres #map .controls-container .controls .control-group .form-radio:checked {
  background-color: #acffb2;
}

#xifres #map .controls-container .controls .control-group label {
  color: #5D5D5D;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  cursor: pointer;
}

#xifres #map .controls-container .controls .control-group:last-child {
  margin-right: 0;
}

#xifres #map .controls-container .informacio {
  color: #5D5D5D;
  margin-left: 50px;
}

#xifres #map #mapid {
  height: 85vh;
}

#xifres #map .info {
  padding: 10px 20px;
  font-size: 1.2em;
  font-family: inherit;
  background: white;
  background: rgba(0, 0, 0, 0.7);
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

#xifres #map .info h5 {
  margin: 0 0 5px;
  color: #777;
}

#xifres #map .legend {
  line-height: 25px;
  color: #777;
  font-size: 1.2em;
  padding: 25px 20px;
}

#xifres #map .legend i {
  width: 25px;
  height: 25px;
  float: left;
  margin-right: 10px;
  opacity: 0.8;
}

#xifres #map .leaflet-control-attribution {
  opacity: .4;
}

#xifres .img-container {
  padding: 50px 0;
}

#xifres .img-container img {
  width: 100%;
}

#xifres .img-container p.caption {
  width: 100%;
  text-align: right;
  font-size: .7em;
  color: #5d5d5d;
  margin: 10px 0;
}

#consequencies {
  padding: 100px 0 100px 0;
}

#consequencies .text-block-starter {
  margin-top: 180px;
}

#consequencies .text-block-starter .text-block {
  position: relative;
  margin-top: 10px;
}

#consequencies .text-block-starter .text-block .img-container {
  margin: 50px 0;
}

#consequencies .text-block-starter .text-block .img-container img {
  width: calc(100vw - 39%);
  position: relative;
  left: -17vw;
}

#consequencies .text-block-starter .text-block .img-container p.caption {
  width: calc(100vw - 27%);
  position: relative;
  left: -23vw;
  text-align: right;
  font-size: .7em;
  color: #5d5d5d;
  margin: 10px 0;
}

#consequencies .text-block-starter .text-block .img-container-2 {
  float: right;
  width: 60%;
  padding: 0 0 0 50px;
  margin-right: calc(-57% + 21%);
}

#consequencies .text-block-starter .text-block .img-container-2 img {
  width: 100%;
}

#consequencies .text-block-starter .text-block .img-container-2 p.caption {
  width: 100%;
  text-align: right;
  font-size: .7em;
  color: #5d5d5d;
  margin: 10px 0;
}

#comactuar {
  padding: 100px 0 100px 0;
}

#comactuar .video {
  z-index: 400;
  margin: 50px 0;
}

.footer {
  position: relative;
  z-index: 30;
  width: 100vw;
  padding: 50px 0;
  margin-top: -100px;
  border-top: 1px solid #5d5d5d;
}

.footer .credits {
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  font-size: .7em;
  letter-spacing: 2px;
}

.footer .credits .title {
  color: #5D5D5D;
  line-height: 2em;
  margin-bottom: 50px;
}

.footer .credits a.name {
  text-decoration: none;
  display: block;
  margin-bottom: 20px;
}

.footer .credits .sub {
  font-weight: normal;
  margin-bottom: 15px;
  color: #d5d5d5;
}

.footer .credits .agraiments {
  color: #5D5D5D;
}

.footer .credits .agraiments .sub {
  font-weight: normal;
  margin-bottom: 15px;
  color: #d5d5d5;
  margin-top: 50px;
}

.footer .credits .agraiments .ty {
  color: #5D5D5D;
  margin-bottom: 10px;
}

.footer .credits .agraiments .ty a {
  color: #5D5D5D;
}

.no-mobile {
  background: #fcc38f;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
  padding: 30vh 20vw;
  color: black;
  display: none;
}

.no-mobile h1, .no-mobile h2 {
  font-weight: bold;
}
/*# sourceMappingURL=styles.css.map */