html {
  font-family: 'Helvetica Neue LT Std';
  font-size: 1.30vw;
  -webkit-font-smoothing: antialiased;
  overflow-y: scroll;
  overflow-x: hidden;
  scroll-behavior: smooth;
  height: 100%;
}

body {
  background: #1a1a1a;
  font-size: 100%;
  line-height: 1;
  color: white;
  height: 100%;
  font-family: inherit;
}

#hero {
  height: 100%;
  background: url("img/ciutat-robada-cover.jpg") no-repeat bottom/cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 7em;
}

#hero .header {
  width: 50%;
}

#hero .header .title {
  font-weight: bold;
  font-size: 4em;
}

#hero .header .subtitle {
  font-size: 1em;
  line-height: 1.618em;
  margin: 1.5em 0;
  color: white;
}

#hero .header .cta-hero {
  border: 1px solid white;
  background: none;
  color: white;
  padding: .5em 1em;
  font-weight: bold;
  -webkit-transition: background 2s cubic-bezier(0.22, 0.68, 0, 1), color 2s cubic-bezier(0.22, 0.68, 0, 1);
  transition: background 2s cubic-bezier(0.22, 0.68, 0, 1), color 2s cubic-bezier(0.22, 0.68, 0, 1);
}

#hero .header .cta-hero:hover {
  background: white;
  color: black;
}

#hero .menu-container ul.menu li {
  text-align: right;
  margin-bottom: 10px;
  font-weight: bold;
}

#hero .menu-container ul.menu li:last-child {
  margin-bottom: 0;
}

#hero .menu-container ul.menu li a {
  text-decoration: none;
  color: #5D5D5D;
  -webkit-transition: color 2s cubic-bezier(0.22, 0.68, 0, 1);
  transition: color 2s cubic-bezier(0.22, 0.68, 0, 1);
}

#hero .menu-container ul.menu li a:hover {
  color: white;
}

#hero .menu-container ul.menu li .active {
  color: white;
}

#inici {
  background-color: #111111;
  padding: 70px 0 150px 0;
}

#inici .quote {
  padding: 0 20em;
}

#inici .quote .quote-inner {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 0 0 26px;
}

#inici .quote .quote-inner .vertical-line {
  height: 100%;
  width: 7px;
  background: #292929;
  margin-right: 20px;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 1px;
}

#inici .quote .quote-inner .definicio {
  font-style: italic;
  font-size: 1em;
  line-height: 1.618em;
  margin-bottom: 0;
}

#inici .intro-stats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 50px;
  margin: 70px 13em;
}

#inici .intro-stats .stats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#inici .intro-stats .stats h1 {
  font-size: 4em;
  font-weight: bold;
  margin: 0;
  line-height: 1.2em;
  color: #acffb2;
}

#inici .intro-stats .stats p {
  font-size: .8em;
  margin-top: 0;
  color: #5d5d5d;
}

#testimoni {
  padding: 0 7em;
  background: #000;
  -webkit-clip-path: polygon(0% 0%, 100% 50px, 100% 100%, 0% calc(100% - 50px));
          clip-path: polygon(0% 0%, 100% 50px, 100% 100%, 0% calc(100% - 50px));
}

#testimoni .quote {
  font-size: 2em;
  font-weight: 100;
  line-height: 1.5em;
  margin-bottom: 40px;
}

#testimoni .explain .video {
  width: 50%;
  float: right;
  padding: 0 0 50px 50px;
}

#testimoni .explain .transcript {
  font-size: 1em;
  line-height: 1.9em;
}

#introduccio {
  padding: 200px 0 100px 0;
  margin-top: -100px;
}

#xifres {
  padding: 0px 0 100px 0;
  background: #111111;
}

#xifres #map {
  padding: 0 7em;
  margin: 50px 0;
}

#xifres #map .help {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 700;
}

#xifres #map .help .icon {
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
}

#xifres #map .help .icon i {
  color: #5d5d5d;
  -webkit-transition: color 1s cubic-bezier(0.22, 0.68, 0, 1);
  transition: color 1s cubic-bezier(0.22, 0.68, 0, 1);
  font-size: 1.2em;
}

#xifres #map .help .icon i:hover {
  color: #acffb2;
}

#xifres #map .help .popup-wrapper {
  position: absolute;
  height: 100vh;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: none;
}

#xifres #map .help .popup {
  width: 70%;
  position: relative;
  background: #111111;
  border: 2px solid #292929;
  padding: 30px 30px;
}

#xifres #map .help .popup i {
  color: #5D5D5D;
  -webkit-transition: color 1s cubic-bezier(0.22, 0.68, 0, 1);
  transition: color 1s cubic-bezier(0.22, 0.68, 0, 1);
  font-size: 1.2em;
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
}

#xifres #map .help .popup i:hover {
  color: #acffb2;
}

#xifres #map .help .popup .ajuda-titol {
  color: #5d5d5d;
  font-weight: bold;
  font-size: 1.2em;
  margin-bottom: 10px;
}

#xifres #map .help .popup .content {
  color: #FFF;
  font-size: .8em;
  line-height: 1.7em;
}

#xifres #map .controls-container {
  height: 15vh;
  background: #1a1a1a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 2em;
}

#xifres #map .controls-container .buttons label {
  white-space: nowrap;
  padding: 12px 20px;
  border-color: #acffb2;
  color: #acffb2;
}

#xifres #map .controls-container .buttons label:hover {
  background-color: #acffb2;
  color: #666;
}

#xifres #map .controls-container .buttons .active {
  background-color: #acffb2;
  color: #666;
}

#xifres #map .controls-container .buttons input {
  outline: none;
}

#xifres #map .controls-container .controls {
  margin-left: 70px;
  display: none;
}

#xifres #map .controls-container .controls .control-group {
  cursor: pointer;
  margin-top: 10px;
  margin-right: 50px;
}

#xifres #map .controls-container .controls .control-group .form-radio {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: inline-block;
  position: relative;
  background-color: #f1f1f1;
  color: #666;
  top: -2px;
  height: 30px;
  width: 30px;
  border: 0;
  border-radius: 50px;
  cursor: pointer;
  margin-right: 15px;
  outline: none;
  -webkit-transition: background-color 1s cubic-bezier(0.22, 0.68, 0, 1);
  transition: background-color 1s cubic-bezier(0.22, 0.68, 0, 1);
}

#xifres #map .controls-container .controls .control-group .form-radio:checked::before {
  position: absolute;
  font: 15px/1 'Open Sans', sans-serif;
  left: 11px;
  top: 6px;
  content: '\02143';
  -webkit-transform: rotate(40deg);
          transform: rotate(40deg);
}

#xifres #map .controls-container .controls .control-group .form-radio:hover {
  background-color: #969696;
}

#xifres #map .controls-container .controls .control-group .form-radio:checked {
  background-color: #acffb2;
}

#xifres #map .controls-container .controls .control-group label {
  color: #5D5D5D;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  cursor: pointer;
}

#xifres #map .controls-container .controls .control-group:last-child {
  margin-right: 0;
}

#xifres #map .controls-container .informacio {
  color: #5D5D5D;
  margin-left: 50px;
}

#xifres #map #mapid {
  height: 85vh;
}

#xifres #map .info {
  padding: 10px 20px;
  font-size: 1.2em;
  font-family: inherit;
  background: white;
  background: rgba(0, 0, 0, 0.7);
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

#xifres #map .info h5 {
  margin: 0 0 5px;
  color: #777;
}

#xifres #map .legend {
  line-height: 25px;
  color: #777;
  font-size: 1.2em;
  padding: 25px 20px;
}

#xifres #map .legend i {
  width: 25px;
  height: 25px;
  float: left;
  margin-right: 10px;
  opacity: 0.8;
}

#xifres #map .leaflet-control-attribution {
  opacity: .4;
}
/*# sourceMappingURL=styles.css.map */