$cb: cubic-bezier(.22, .68, 0, 1);

html {
    font-family: 'Helvetica Neue LT Std';
    font-size: 1.30vw;
    -webkit-font-smoothing: antialiased;
    overflow-y: scroll;
    overflow-x: hidden;
    scroll-behavior: smooth;
    height: 100%;
}

body {
    background: #1a1a1a;
    font-size: 100%;
    line-height: 1;
    color: white;
    height: 100%;
    font-family: inherit;
}

#hero {
    height: 100%;
    background: url("img/ciutat-robada-cover.jpg") no-repeat bottom/cover;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 7em;

    .header {
        width: 50%;

        .title {
            font-weight: bold;
            font-size: 4em;
        }

        .subtitle {
            font-size: 1em;
            line-height: 1.618em;
            margin: 1.5em 0;
            color: white;
        }

        .cta-hero {
            border: 1px solid white;
            background: none;
            color: white;
            padding: .5em 1em;
            font-weight: bold;

            transition: background 2s cubic-bezier(.22, .68, 0, 1),
                color 2s cubic-bezier(.22, .68, 0, 1);

            &:hover {
                background: white;
                color: black;
            }
        }
    }

    .menu-container {
        ul.menu {
            li {
                text-align: right;
                margin-bottom: 10px;
                font-weight: bold;

                &:last-child {
                    margin-bottom: 0;
                }

                a {
                    text-decoration: none;
                    color: #5D5D5D;
                    transition: color 2s cubic-bezier(.22, .68, 0, 1);

                    &:hover {
                        color: white;
                    }

                }

                .active {
                    color: white;
                }
            }

        }
    }
}


#inici {
    // margin: 70px 0;
    background-color: #111111;
    padding: 70px 0 150px 0;

    .quote {
        padding: 0 20em;

        .quote-inner {
            position: relative;
            display: flex;
            flex-direction: column;
            padding: 0 0 0 26px;

            // height: 100px;
            .vertical-line {
                height: 100%;
                width: 7px;
                background: #292929;
                margin-right: 20px;
                position: absolute;
                top: 0;
                left: 0;
                border-radius: 1px;
            }

            .definicio {
                font-style: italic;
                font-size: 1em;
                line-height: 1.618em;
                margin-bottom: 0;

            }
        }
    }

    .intro-stats {
        display: flex;
        justify-content: space-between;
        padding: 20px 50px;
        margin: 70px 13em;


        .stats {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;

            h1 {
                font-size: 4em;
                font-weight: bold;
                margin: 0;
                line-height: 1.2em;
                color: #acffb2;

            }

            p {
                font-size: .8em;
                margin-top: 0;
                color: #5d5d5d;
            }

        }

    }
}

#testimoni {
    padding: 0 7em;
    background: #000;
    // border: 1px solid red;
    clip-path: polygon(0% 0%, 100% 50px, 100% 100%, 0% calc(100% - 50px));

    .quote {
        font-size: 2em;
        // font-style: italic;
        font-weight: 100;
        line-height: 1.5em;
        margin-bottom: 40px;
    }

    .explain {
        .video {
            width: 50%;
            float: right;
            padding: 0 0 50px 50px
        }

        .transcript {
            font-size: 1em;
            line-height: 1.9em;
            // text-align: justify;
        }
    }

}

#introduccio {
    padding: 200px 0 100px 0;
    margin-top: -100px;

}

#xifres {
    padding: 0px 0 100px 0;
    background: #111111;
    // margin-top: -100px;

    #map {
        padding: 0 7em;

        .help {
            width: 100%;
            height: 100%;
            position: relative;
            z-index: 700;
            .icon {
                position: absolute;
                right: 10px;
                top: 10px;
                cursor: pointer;

                i {
                    color: #5d5d5d;
                    transition: color 1s $cb;
                    font-size: 1.2em;

                    &:hover {
                        color: #acffb2;
                    }
                }
            }
            .popup-wrapper{
                // display: flex;
                position: absolute;
                height: 100vh;
                width: 100%;
                justify-content: center;
                align-items: center;
                display: none;
            }
            .popup {
                // display: none;
                width: 70%;
                // position: absolute;
                // left: 0;
                // right: 0;
                // margin-left: auto;
                // margin-right: auto;
                position: relative;
                background: #111111;
                border: 2px solid #292929;
                padding: 30px 30px;
                i{
                    color: #5D5D5D;
                    transition: color 1s $cb;
                    font-size: 1.2em;
                    position: absolute;
                    right: 10px;
                    top: 10px;
                    cursor: pointer;

                    &:hover {
                        color: #acffb2;
                    }
                }
                .ajuda-titol {
                    color: #5d5d5d;
                    font-weight: bold;
                    font-size: 1.2em;
                    margin-bottom: 10px;
                }

                .content {
                    color: #FFF;
                    font-size: .8em;
                    line-height: 1.7em
                }
            }
        }

        .controls-container {
            height: 15vh;
            background: #1a1a1a;
            display: flex;
            align-items: center;
            // justify-content: space-between;
            padding: 0 2em;

            .buttons {
                label {
                    white-space: nowrap;
                    padding: 12px 20px;
                    border-color: #acffb2;
                    color: #acffb2;

                    &:hover {
                        background-color: #acffb2;
                        color: #666;
                    }
                }

                .active {
                    background-color: #acffb2;
                    color: #666;


                }

                input {
                    outline: none;
                }
            }

            .controls {
                margin-left: 70px;
                display: none;

                .control-group {
                    cursor: pointer;
                    margin-top: 10px;
                    margin-right: 50px;

                    .form-radio {
                        -webkit-appearance: none;
                        -moz-appearance: none;
                        appearance: none;
                        display: inline-block;
                        position: relative;
                        background-color: #f1f1f1;
                        color: #666;
                        top: -2px;
                        height: 30px;
                        width: 30px;
                        border: 0;
                        border-radius: 50px;
                        cursor: pointer;
                        margin-right: 15px;
                        outline: none;
                        transition: background-color 1s $cb;
                    }

                    .form-radio:checked::before {
                        position: absolute;
                        font: 15px/1 'Open Sans', sans-serif;
                        left: 11px;
                        top: 6px;
                        content: '\02143';
                        transform: rotate(40deg);
                    }

                    .form-radio:hover {
                        background-color: #969696;
                    }

                    .form-radio:checked {
                        background-color: #acffb2;
                    }

                    label {

                        color: #5D5D5D;
                        -webkit-font-smoothing: antialiased;
                        -moz-osx-font-smoothing: grayscale;
                        cursor: pointer;
                        // margin-right: 50px;
                    }

                    &:last-child {
                        margin-right: 0;
                    }
                }


            }

            // .divider{
            //     width: 1px;
            //     height: 30px;
            //     background: #5d5d5d;
            // }

            .informacio {
                color: #5D5D5D;
                margin-left: 50px;
            }

        }

        #mapid {
            height: 85vh;
            // width: 100vw;

        }

        .info {
            padding: 10px 20px;
            font-size: 1.2em;
            font-family: inherit;
            background: white;
            background: rgba(0, 0, 0, 0.7);
            box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
            border-radius: 5px;
        }

        .info h5 {
            margin: 0 0 5px;
            color: #777;
        }

        .legend {
            line-height: 25px;
            color: #777;
            font-size: 1.2em;
            padding: 25px 20px;
        }

        .legend i {
            width: 25px;
            height: 25px;
            float: left;
            margin-right: 10px;
            opacity: 0.8;
        }

        .leaflet-control-attribution {
            opacity: .4;
        }
    }

}